<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel="stylesheet" href="../css/home.css">
        <link rel="stylesheet" href="../node_modules/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="../css/fontfamily.css">
</head>
<body>
    <div class="ad"></div>
    <header>
        <ul class="header_left">
            <li><a href="./list.html">小米商城</a></li>
            <li><a href="">MIUI</a></li>
            <li><a href="">loT</a></li>
            <li><a href="">云服务</a></li>
            <li><a href="">天星数科</a></li>
            <li><a href="">有品</a></li>
            <li><a href="">小爱开放平台</a></li>
            <li><a href="">企业团购</a></li>
            <li><a href="">资质证照</a></li>
            <li><a href="">协议规则</a></li>
            <li><a href="" class="down">下载app</a>
                <div class="load">
                    <img src="../image/download.png" alt="">
                    小米商城APP
                </div>
            </li>
            <li><a href="">智能生活</a></li>
            <li><a href="">Select Location</a></li>
        </ul>
        <ol class="header_right">
            <li class="denglu"><a href="./login.html">登录</a></li>
            <li><a href="">注册</a></li>
            <li><a href="">消息通知</a></li>
            <li class="cart">
                购物车
                <div>购物车中还没有商品，赶快选购吧！</div>
            </li>
        </ol>
    </header>
    <main>
        <div class="main_header">
            <a href="../views/home.html"></a>
            <ul>
                <li>小米手机</li>
                <li>Redmi 红米</li>
                <li>电视</li>
                <li>笔记本</li>
                <li>家电</li>
                <li>路由器</li>
                <li>智能硬件</li>
                <li>服务</li>
                <li>社区</li>
            </ul>
            <ol class="select">
                <li>
                    <div>
                        <img src="../image/81808cd191332114f44d8d0cb0d0813a.png" alt="">
                    </div>
                    <p>小米11</p>
                    <p>3299元</p>
                </li>
                <li><div>
                    <img src="../image/81808cd191332114f44d8d0cb0d0813a.png" alt="">
                </div>
                <p>小米11</p>
                <p>3299元</p></li>
                <li><div>
                    <img src="../image/81808cd191332114f44d8d0cb0d0813a.png" alt="">
                </div>
                <p>小米11</p>
                <p>3299元</p></li>
                <li><div>
                    <img src="../image/81808cd191332114f44d8d0cb0d0813a.png" alt="">
                </div>
                <p>小米11</p>
                <p>3299元</p></li>
                <li><div>
                    <img src="../image/81808cd191332114f44d8d0cb0d0813a.png" alt="">
                </div>
                <p>小米11</p>
                <p>3299元</p></li>
            </ol>
            <div class="search">
                <input type="text" placeholder="小米11" class="search_input">
                <button class="search_button">&#xe661;</button>
                <p class="search_tishi"></p>
            </div>
        </div>
        <div>
        <div id = "ads"> 
            <ol class="mask">
                <li>手机 电话
                    <div></div>
                </li>
                <li>电视 盒子
                    <div></div>
                </li>
                <li>笔记本 显示器
                    <div></div>
                </li>
                <li>家电 插线板
                    <div></div>
                </li>
                <li>出行 穿戴
                    <div></div>
                </li>
                <li>智能 路由器
                    <div></div>
                </li>
                <li>电源 配件
                    <div></div>
                </li>
                <li>健康 儿童
                    <div></div>
                </li>
                <li>耳机 音响
                    <div></div>
                </li>
                <li>生活 皮包
                    <div></div>
                </li>
            </ol>
        <div class="banner">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="../image/0ef4160c861b998239bce9adb82341e7.webp" ></div>
                <div class="swiper-slide"><img src="../image/9ebff5f5c1f52f2dbdd611897adbefd4.webp" ></div>
                <div class="swiper-slide"><img src="../image/d448e96e0e06cff99a9afb8d169a8a81.webp" ></div>
                <div class="swiper-slide"><img src="../image/deeea5e216056d2df49db05f0625ee09.jpg"></div>
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination" style=" bottom: 10px;"></div>
            
            <!-- 如果需要导航按钮 -->
            <div class="swiper-button-prev prev1"style="left:250px;color: #fff;font-size: 0px;"></div>
            <div class="swiper-button-next next1" style="right:10px;color: #fff;font-size: 0px;"></div>
        </div>
        <ol class="spot">
        </ol>
    </div>
    <div class="main_header_footer">
        <ul class="main_list">
            <li>
                <img src="../image/1.png" alt="">
                <p>小米秒杀</p>
            </li>
            <li>
                <img src="../image/2.png" alt="">
                <p>企业团购</p>
            </li>
            <li>
                <img src="../image/3.png" alt="">
                <p>F码通道</p>
            </li>
            <li>
                <img src="../image/4.png" alt="">
                <p>米粉卡</p>
            </li>
            <li>
                <img src="../image/5.png" alt="">
                <p>以旧换新</p>
            </li>
            <li>
                <img src="../image/6.png" alt="">
                <p>话费充值</p>
            </li>
        </ul>
        <ol class="main_list2">
           <li> <img src="../image/main_foot1.jpg" alt=""></li>
           <li> <img src="../image/main_foot2.jpg" alt=""></li>
           <li> <img src="../image/main_foot3.jpg" alt=""></li>
        </ol>
    </div>
    </main>
    <section class="body">
        <p class="shop">小米闪购</p>
        <aside class="daojishi" >
            <article class="body_time">
              
            </article>
            <div class="swiper-container swiper2">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="../image/list1.webp" alt="">
                    <p>小米无线鼠标 Lite 黑色</p>
                    <div>简约设计，轻盈握感</div>
                    <span><span>29元</span><del style="text-decoration: line-through;">39元</del></span>
                    </div>
                    <div class="swiper-slide"><img src="../image/list2.webp" alt="">
                        <p>小米无线鼠标 Lite 黑色</p>
                        <div>简约设计，轻盈握感</div>
                        <span><span>29元</span><del style="text-decoration: line-through;">39元</del></span></div>
                    <div class="swiper-slide"><img src="../image/list3.webp" alt="">
                        <p>小米无线鼠标 Lite 黑色</p>
                        <div>简约设计，轻盈握感</div>
                        <span><span>29元</span><del style="text-decoration: line-through;">39元</del></span></div>
                    <div class="swiper-slide"><img src="../image/list3.webp" alt="">
                        <p>小米无线鼠标 Lite 黑色</p>
                        <div>简约设计，轻盈握感</div>
                        <span><span>29元</span><del style="text-decoration: line-through;">39元</del></span></div>
                    <div class="swiper-slide"><img src="../image/list1.webp" alt="">
                        <p>小米无线鼠标 Lite 黑色</p>
                        <div>简约设计，轻盈握感</div>
                        <span><span>29元</span><del style="text-decoration: line-through;">39元</del></span></div>
                    <div class="swiper-slide"><img src="../image/list2.webp" alt="">
                        <p>小米无线鼠标 Lite 黑色</p>
                        <div>简约设计，轻盈握感</div>
                        <span><span>29元</span><del style="text-decoration: line-through;">39元</del></span></div>
                        <div class="swiper-slide"><img src="../image/list2.webp" alt="">
                            <p>小米无线鼠标 Lite 黑色</p>
                            <div>简约设计，轻盈握感</div>
                            <span><span>29元</span><del style="text-decoration: line-through;">39元</del></span></div>
                            <div class="swiper-slide"><img src="../image/list2.webp" alt="">
                                <p>小米无线鼠标 Lite 黑色</p>
                                <div>简约设计，轻盈握感</div>
                                <span><span>29元</span><del style="text-decoration: line-through;">39元</del></span></div>
                                <div class="swiper-slide"><img src="../image/list2.webp" alt="">
                                    <p>小米无线鼠标 Lite 黑色</p>
                                    <div>简约设计，轻盈握感</div>
                                    <span><span>29元</span><del style="text-decoration: line-through;">39元</del></span></div>
                                    <div class="swiper-slide"><img src="../image/list2.webp" alt="">
                                        <p>小米无线鼠标 Lite 黑色</p>
                                        <div>简约设计，轻盈握感</div>
                                        <span><span>29元</span><del style="text-decoration: line-through;">39元</del></span></div>
                        
                </div>
                <!-- 如果需要分页器 -->
                <div class="swiper-pagination"></div>
                
                <!-- 如果需要导航按钮 -->
                
                <!-- 如果需要滚动条 -->
                <!-- <div class="swiper-scrollbar"></div> -->
            </div>
            <div class="swiper-button-prev prev2" style="font-size: 10px;"></div>
            <div class="swiper-button-next next2" style="font-size: 10px;"></div>
        </aside>
        <div class="g1" >
            <img src="../image/g1.webp" alt="">
            <h1>
                <span>手机</span>
                <span>查看全部 &nbsp;&nbsp;<i class="iconfont-arrow-right-big" ></i></span>
            </h1>
            <div class="g1_list1" style="background-color: #F5F5F5;">
                <div class="g1_list_b">
                    <img src="../image/g1/g1.webp" alt="">
                </div>
                <div class="gi_list_x">
                    <ul></ul>
                </div>
            </div>
            <div class="g1_list2" style="background-color: #F5F5F5;">
                <div>
                    <img src="../image/g2/c3b86ede4dd31d7c126d56fbdde4f855.webp" alt="">
                </div>
                <h1 style="font-weight: 200;">
                <span>家电</span>
                <span>
                    <span class="span1">热门</span>
                <span class="span2">电视影音</span>
                </span>
                </h1>
                <div class="list2">
                    <div class="list2_div">
                    </div>
                    <ul class="list2_ul">
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="top">
        <img src="../image/g4/totop.png" alt="" class="top_i1">
        <img src="../image/g4/totop_hover.png" alt="" class="top_i2">
    </div>
    <script src="../js/utils.js"></script>
    <script src="../js/text.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/header.js"></script>
    <script src="../js/move.js"></script>
    <script src="../node_modules/swiper/swiper-bundle.min.js"></script>
    <script src="../js/banner.js"></script>
    <script src="../js/swiper2.js"></script>
    <aside class="footer">
        <ul>
            <li>预约维修服务</li>
            <li>7天无理由退货</li>
            <li>15天免费换货</li>
            <li>满99包邮</li>
            <li>520余家售后网点</li>
        </ul>
        <article >
        <div class="d1">
            <dl>
                <dd>帮助中心</dd>
                <dt>账户管理</dt>
                <dt>购物指南</dt>
                <dt>订单操作</dt>
            </dl>
            <dl>
                <dd>服务支持</dd>
                <dt>售后政策</dt>
                <dt>自助服务</dt>
                <dt>相关下载</dt>
            </dl>
            <dl>
                <dd>线下门店</dd>
                <dt>售后政策</dt>
                <dt>自助服务</dt>
                <dt>相关下载</dt>
            </dl>
            <dl>
                <dd>关于小米</dd>
                <dt>了解小米</dt>
                <dt>加入小米</dt>
                <dt>投资者关系</dt>
                <dt>企业社会责任</dt>
                <dt>廉洁举报</dt>
            </dl>
            <dl>
                <dd>关注我们</dd>
                <dt>新浪微博</dt>
                <dt>官方微信</dt>
                <dt>联系我们</dt>
                <dt>公益基金</dt>
            </dl>
            <dl>
                <dd>特色服务</dd>
                <dt>F 码通道</dt>
                <dt>礼物码</dt>
                <dt>防伪查询</dt>
            </dl>
        </div>
        <div class="d2" >
            <section>400-100-5678</section>
            <div>8:00-18:00（仅收市话费）</div>
            <h1>
                人工客服
            </h1>
            <h2>
                关注小米
            </h2>
        </div>
    </article>
    </aside>
    
</body>
</html>